.menu {

    width: 70px;

    height: 100vh;

    background: #3E1D0E;

    position: fixed;

    left: 0;

    top: 0;

    display: flex;

    flex-direction: column;

    justify-content: space-between;

    overflow: hidden;

    transition:  width 0.35s ease;;

    font-family: 'Inter', sans-serif;
    z-index: 1000;

}

.menu:hover {

    width: 250px;

}

.logo-area {

    padding: 20px;

}

#logoCompleta {

    display: none;

    width: 150px;

}

.menu:hover #logoCompleta {

    display: block;

}

.menu:hover #logoPequena {

    display: none;

}

.menu-links {

    display: flex;

    flex-direction: column;

}

.menu a {

    color: #E5CDB1;

    text-decoration: none;

    display: flex;

    align-items: center;

    gap: 15px;

    padding: 15px;

}

.menu a:hover {

    background: #2D1408;

    border-radius: 8px;

}

.menu a.ativo {

    background: #2D1408;

    border-left: 4px solid #E5CDB1;

}

.texto-menu {

    display: none;

}

.menu:hover .texto-menu {

    display: inline;

}

.sair {

    margin-bottom: 20px;

}

.icone-menu-logo {

    width: 24px;

    height: 24px;

    flex-shrink: 0;

}
.icone-menu {

    width: 24px;

    height: 24px;

    flex-shrink: 0;

}

/*==========================
MENU MOBILE
==========================*/

#btnMenuMobile{

    display:none;

    position:fixed;

    top:18px;

    left:18px;

    width:46px;

    height:46px;

    border:none;

    border-radius:10px;

    background:#3E1D0E;

    cursor:pointer;

    z-index:1200;

    justify-content:center;

    align-items:center;

    box-shadow:0 6px 20px rgba(0,0,0,.15);

}

#btnMenuMobile img{

    width:24px;

    height:24px;

}

#overlayMenu{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.35);

    opacity:0;

    visibility:hidden;

    transition:.25s;

    z-index:950;

}

@media(max-width:768px){

    #btnMenuMobile{

        display:flex;

    }

    .menu{

        width:250px;

        left:-250px;

        transition:left .3s ease;

        z-index:1000;

    }

    .menu:hover{

        width:250px;

    }

    .menu.aberto{

        left:0;

    }

    #overlayMenu.ativo{

        opacity:1;

        visibility:visible;

    }

    .menu .texto-menu{

        display:inline;

    }

}

